<!DOCTYPE html>
<!-- saved from url=(0030)http://quomodosoft.com/appton/ -->
<html lang="en-US" class="gr__quomodosoft_com">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <style id="stndz-style">
        div[class*="item-container-obpd"],
        a[data-redirect*="paid.outbrain.com"],
        a[onmousedown*="paid.outbrain.com"] {
            display: none !important;
        }
        
        a div[class*="item-container-ad"] {
            height: 0px !important;
            overflow: hidden !important;
            position: absolute !important;
        }
        
        div[data-item-syndicated="true"] {
            display: none !important;
        }
        
        .grv_is_sponsored {
            display: none !important;
        }
        
        .zergnet-widget-related {
            display: none !important;
        }
    </style>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="profile" href="http://gmpg.org/xfn/11">

    <title>Be Digital</title>
    <meta name="robots" content="noindex,follow">
    <link rel="dns-prefetch" href="http://fonts.googleapis.com/">
    <link rel="dns-prefetch" href="http://s.w.org/">
    <link rel="alternate" type="application/rss+xml" title="Appton » Feed" href="http://quomodosoft.com/appton/feed/">
    <link rel="alternate" type="application/rss+xml" title="Appton » Comments Feed" href="http://quomodosoft.com/appton/comments/feed/">
    <script type="text/javascript">
        window._wpemojiSettings = {
            "baseUrl": "https:\/\/s.w.org\/images\/core\/emoji\/2.4\/72x72\/",
            "ext": ".png",
            "svgUrl": "https:\/\/s.w.org\/images\/core\/emoji\/2.4\/svg\/",
            "svgExt": ".svg",
            "source": {
                "concatemoji": "http:\/\/quomodosoft.com\/appton\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.9.6"
            }
        };
        ! function(a, b, c) {
            function d(a, b) {
                var c = String.fromCharCode;
                l.clearRect(0, 0, k.width, k.height), l.fillText(c.apply(this, a), 0, 0);
                var d = k.toDataURL();
                l.clearRect(0, 0, k.width, k.height), l.fillText(c.apply(this, b), 0, 0);
                var e = k.toDataURL();
                return d === e
            }

            function e(a) {
                var b;
                if (!l || !l.fillText) return !1;
                switch (l.textBaseline = "top", l.font = "600 32px Arial", a) {
                    case "flag":
                        return !(b = d([55356, 56826, 55356, 56819], [55356, 56826, 8203, 55356, 56819])) && (b = d([55356, 57332, 56128, 56423, 56128, 56418, 56128, 56421, 56128, 56430, 56128, 56423, 56128, 56447], [55356, 57332, 8203, 56128, 56423, 8203, 56128, 56418, 8203, 56128, 56421, 8203, 56128, 56430, 8203, 56128, 56423, 8203, 56128, 56447]), !b);
                    case "emoji":
                        return b = d([55357, 56692, 8205, 9792, 65039], [55357, 56692, 8203, 9792, 65039]), !b
                }
                return !1
            }

            function f(a) {
                var c = b.createElement("script");
                c.src = a, c.defer = c.type = "text/javascript", b.getElementsByTagName("head")[0].appendChild(c)
            }
            var g, h, i, j, k = b.createElement("canvas"),
                l = k.getContext && k.getContext("2d");
            for (j = Array("flag", "emoji"), c.supports = {
                    everything: !0,
                    everythingExceptFlag: !0
                }, i = 0; i < j.length; i++) c.supports[j[i]] = e(j[i]), c.supports.everything = c.supports.everything && c.supports[j[i]], "flag" !== j[i] && (c.supports.everythingExceptFlag = c.supports.everythingExceptFlag && c.supports[j[i]]);
            c.supports.everythingExceptFlag = c.supports.everythingExceptFlag && !c.supports.flag, c.DOMReady = !1, c.readyCallback = function() {
                c.DOMReady = !0
            }, c.supports.everything || (h = function() {
                c.readyCallback()
            }, b.addEventListener ? (b.addEventListener("DOMContentLoaded", h, !1), a.addEventListener("load", h, !1)) : (a.attachEvent("onload", h), b.attachEvent("onreadystatechange", function() {
                "complete" === b.readyState && c.readyCallback()
            })), g = c.source || {}, g.concatemoji ? f(g.concatemoji) : g.wpemoji && g.twemoji && (f(g.twemoji), f(g.wpemoji)))
        }(window, document, window._wpemojiSettings);
    </script>
    <script src="./coming/wp-emoji-release.min.js.download" type="text/javascript" defer=""></script>
    <style type="text/css">
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <link rel="stylesheet" id="overwrite-css" href="./coming/overwrite.css" type="text/css" media="all">
    <link rel="stylesheet" id="owl-carousel-css" href="./coming/owl.carousel.css" type="text/css" media="all">
    <link rel="stylesheet" id="contact-form-7-css" href="./coming/styles.css" type="text/css" media="all">
    <link rel="stylesheet" id="appton-google-font-css" href="./coming/css" type="text/css" media="all">
    <link rel="stylesheet" id="appton-style-css" href="./coming/style.css" type="text/css" media="all">
    <link rel="stylesheet" id="normalize-css" href="./coming/normalize.css" type="text/css" media="all">
    <link rel="stylesheet" id="animate-css" href="./coming/animate.css" type="text/css" media="all">
    <link rel="stylesheet" id="modal-video-css" href="./coming/modal-video.min.css" type="text/css" media="all">
    <link rel="stylesheet" id="stellarnav-css" href="./coming/stellarnav.min.css" type="text/css" media="all">
    <link rel="stylesheet" id="bootstrap-css" href="./coming/bootstrap.min.css" type="text/css" media="all">
    <link rel="stylesheet" id="fontawesome-css" href="./coming/font-awesome.min.css" type="text/css" media="all">
    <link rel="stylesheet" id="themify-css" href="./coming/themify-icons.css" type="text/css" media="all">
    <link rel="stylesheet" id="flaticon-css" href="./coming/Flaticon-essential.css" type="text/css" media="all">
    <link rel="stylesheet" id="appton-default-css" href="./coming/default.css" type="text/css" media="all">
    <link rel="stylesheet" id="appton-core-style-css" href="./coming/theme.css" type="text/css" media="all">
    <link rel="stylesheet" id="appton-main-style-css" href="./coming/style(1).css" type="text/css" media="all">
 <!--    <style id="appton-main-style-inline-css" type="text/css">
        .barner-area-bg {
            background-image: url(http://quomodosoft.com/appton/wp-content/themes/appton/assets/img/header-bg.jpg);
        }
    </style> -->
    <link rel="stylesheet" id="appton-responsive-style-css" href="./coming/responsive.css" type="text/css" media="all">
    <link rel="stylesheet" id="kc-general-css" href="./coming/kingcomposer.min.css" type="text/css" media="all">
    <link rel="stylesheet" id="kc-animate-css" href="./coming/animate(1).css" type="text/css" media="all">
    <link rel="stylesheet" id="kc-icon-1-css" href="./coming/flaticon.css" type="text/css" media="all">
    <link rel="stylesheet" id="kc-icon-2-css" href="./coming/icofont.css" type="text/css" media="all">
    <link rel="stylesheet" id="kc-icon-3-css" href="./coming/icons.css" type="text/css" media="all">
    <script type="text/javascript" src="./coming/jquery.js.download"></script>
    <script type="text/javascript" src="./coming/jquery-migrate.min.js.download"></script>
    <link rel="https://api.w.org/" href="http://quomodosoft.com/appton/wp-json/">
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://quomodosoft.com/appton/xmlrpc.php?rsd">
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://quomodosoft.com/appton/wp-includes/wlwmanifest.xml">
    <meta name="generator" content="WordPress 4.9.6">
    <link rel="canonical" href="http://quomodosoft.com/appton/">
    <link rel="shortlink" href="http://quomodosoft.com/appton/">
    <link rel="alternate" type="application/json+oembed" href="http://quomodosoft.com/appton/wp-json/oembed/1.0/embed?url=http%3A%2F%2Fquomodosoft.com%2Fappton%2F">
    <link rel="alternate" type="text/xml+oembed" href="http://quomodosoft.com/appton/wp-json/oembed/1.0/embed?url=http%3A%2F%2Fquomodosoft.com%2Fappton%2F&amp;format=xml">
    <script type="text/javascript">
        var kc_script_data = {
            ajax_url: "http://quomodosoft.com/appton/wp-admin/admin-ajax.php"
        }
    </script>
    <style type="text/css">
        .recentcomments a {
            display: inline !important;
            padding: 0 !important;
            margin: 0 !important;
        }
    </style>
    <link rel="icon" href="./coming/bedigital.png" sizes="32x32">
    <link rel="icon" href="./coming/bedigital.png" sizes="192x192">
    <link rel="apple-touch-icon-precomposed" href="./coming/bedigital.png">
    <script type="text/javascript"></script>
    <style type="text/css" id="kc-css-general">
        .kc-off-notice {
            display: inline-block !important;
        }
        
        .kc-container {
            max-width: 1170px;
        }
    </style>
      <style id="fit-vids-style">
        .fluid-width-video-wrapper {
            width: 100%;
            position: relative;
            padding: 0;
        }
        
        .fluid-width-video-wrapper iframe,
        .fluid-width-video-wrapper object,
        .fluid-width-video-wrapper embed {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    </style>
</head>

<body class="home page-template page-template-composer page-template-composer-php page page-id-1709 wp-custom-logo kingcomposer kc-css-system" data-gr-c-s-loaded="true">



    <!--- PRELOADER -->
    <div class="preeloader" style="display: none;">
        <div class="preloader-spinner"></div>
    </div>


    <!--SCROLL TO TOP-->

    <header class="header-top-area" id="scrolltop">

        <div class="header-top-area">
            <!--MAINMENU AREA-->
            <!-- <img src="coming/bedigital.png" style="width:10%;margin-left: 45%;" alt="">
 -->

    </header>

    <div id="content" class="site-content">

        <div id="primary" class="content-area">
            <main id="main" class="site-main">
                <section class="content-section clearfix">
                    <div class="kc_clfw"></div>
                    <section data-kc-fullheight="middle-content" data-kc-equalheight="true" data-kc-equalheight-align="middle" id="home" data-kc-fullwidth="row" class="kc-elm kc-css-696316 kc_row" style="left: 0px; padding-left: 0px; padding-right: 0px; width: 1349px;">
                        <div class="kc-row-container  kc-container">
                            <div class="kc-wrap-columns">
                                <div class="kc-elm kc-css-958197 kc_col-sm-12 kc_column kc_col-sm-12">
                                    <div class="kc-col-container">
                                        <div class="welcome-text-area kc-elm kc-css-418485  ">
                                            <div class="welcome-area">
                                                <div class="container">
                                                    <div class="row flex-v-center no-margin">
                                                        <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12 no-padding">
                                                            <div class="welcome-text">
                                                          <center>     <img src="coming/bedigital.png" class="welcome_title wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible;width: 250px; animation-delay: 0.1s; animation-name: fadeInUp;">
                                                                <h1 class="welcome_title wow fadeInUp">+</h1>
                                                                <img src="coming/baroda.png" class="welcome_title wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible;width: 250px;margin-top: -13%; animation-delay: 0.1s; animation-name: fadeInUp;">
                                                            </center>                                        
                                                                <div class="welcome_description wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                                                                <!--     <p>Barodaganesh Collabrates with Be.Digital</p> -->
                                                                </div>


                                                            </div>
                                                        </div>

                                                    <!--     <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
                                                            <div class="welcome-mockup right wow fadeInRight" style="visibility: visible; animation-name: fadeInRight;">
                                                                <img src="coming/1.png" style="width: 1000px;" alt="">
                                                                <div class="owl-controls">
                                                                    <div class="owl-nav">
                                                                        <div class="owl-prev" style="display: none;"><i class="fa fa-long-arrow-left"></i> Prev</div>
                                                                        <div class="owl-next" style="display: none;">Next <i class="fa fa-long-arrow-right"></i></div>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div> -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
        </div>
        </section>

        <section id="price" class="kc-elm kc-css-705630 kc_row">
            <div class="kc-row-container  kc-container">
                <div class="kc-wrap-columns">
                    <div class="kc-elm kc-css-208602 kc_col-sm-12 kc_column kc_col-sm-12">
                        <div class="kc-col-container">
                            <div class="kc-elm kc-css-619452 kc_row kc_row_inner">
                                <div class="kc-elm kc-css-408508 kc_col-of-5 kc_column_inner kc_col-of-5">
                                    <div class="kc_wrapper kc-col-inner-container"></div>
                                </div>
                                <div class="kc-elm kc-css-222228 kc_col-sm-7 kc_column_inner kc_col-sm-7">
                                    <div class="kc_wrapper kc-col-inner-container">
                                        <div class="area_title_box area-title kc-elm kc-css-15856  ">
                                            <h2 class="area_title">
                                                <!-- <ins>Best Pricing Plan</ins> -->
                                            </h2>
                                            <div class="area_description">
                                                <p> </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="kc-elm kc-css-292484 kc_col-of-5 kc_column_inner kc_col-of-5">
                                    <div class="kc_wrapper kc-col-inner-container"></div>
                                </div>
                            </div>
                            <div class="kc-elm kc-css-626359 kc_row kc_row_inner">
                                <div class="kc-elm kc-css-654109 kc_col-sm-4 kc_column_inner kc_col-sm-4">

                                </div>
                                <div class="kc-elm kc-css-193218 kc_col-sm-4 kc_column_inner kc_col-sm-4">
                                    <div class="kc_wrapper kc-col-inner-container">
                                        <div class="kc-elm kc-css-502483 kc-pricing-tables kc-pricing-layout-2 single-price box-hover-21">

                                            <div class="header-pricing">
                                                <div class="content-title">Barodaganesh.com</div>
                                                <div class="kc-pricing-price"><span class="content-currency">₹</span><span class="content-price">1,999</span><span class="content-duration ">/<del>5000</del></span></div>
                                            </div>
                                            <ul class="content-desc ">
                                                <li>Web Application
                                                </li>
                                                <li>Graphic Design
                                                </li>
                                                <li>Logo
                                                </li>

                                            </ul>
                                            <div class="content-button "><a href="/register ">Register</a></div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <footer id="colophon " class="footer-area ">
            <div class="container ">
                <div class="row ">
                    <div class="col-md-12 text-center ">
                        <div class="footer-logo mb40 ">
                        </div>
                        <ul class="social-bookmark mb40 ">
                            <li><img src="coming/digital.png" style="width: 100px;" alt=""></li>
                            <li><img src="coming/scity.png" style="width: 100px;" alt=""></li>

                        </ul>
                        <div class="site-info ">
                            <center> <img src="images/logob.png" alt="Be.Digital" style=" height:20%; width: 20%;" srcset=""> </center>
                            Developed with ❤️ by <br> <a href="https://www.bdigital.tech"> <span class="contact100-more-highlight" >Be.Digital</span></a>
                    </div>
                </div>
            </div>

        </footer>
        <!-- #colophon -->


        <script type="text/javascript " src="./coming/jquery.mb.YTPlayer.min.js.download "></script>
        <script type="text/javascript " src="./coming/owl.carousel.min.js.download "></script>
        <script type="text/javascript " src="./coming/isotope.pkgd.min.js.download "></script>
        <script type="text/javascript " src="./coming/imagesloaded.min.js.download "></script>
        <script type="text/javascript " src="./coming/masonry.min.js.download "></script>
        <script type="text/javascript " src="./coming/toolkit-active.js.download "></script>
        <script type="text/javascript ">
            /* <![CDATA[ */
            var wpcf7 = {
                "apiSettings ": {
                    "root ": "http:\/\/quomodosoft.com\/appton\/wp-json\/contact-form-7\/v1 ",
                    "namespace ": "contact-form-7\/v1 "
                },
                "recaptcha ": {
                    "messages ": {
                        "empty ": "Please verify that you are not a robot. "
                    }
                }
            };
            /* ]]> */
        </script>
        <script type="text/javascript " src="./coming/scripts.js.download "></script>
        <script type="text/javascript " src="./coming/bootstrap.min.js.download "></script>
        <script type="text/javascript " src="./coming/effect.min.js.download "></script>
        <script type="text/javascript " src="./coming/stellarnav.min.js.download "></script>
        <script type="text/javascript " src="./coming/stellar.js.download "></script>
        <script type="text/javascript " src="./coming/wow.min.js.download "></script>
        <script type="text/javascript " src="./coming/jquery.sticky.js.download "></script>
        <script type="text/javascript " src="./coming/jquery.fitvids.js.download "></script>
        <script type="text/javascript " src="./coming/placeholdem.min.js.download "></script>
        <script type="text/javascript " src="./coming/jquery.ajaxchimp.js.download "></script>
        <script type="text/javascript " src="./coming/main.js.download "></script>
        <script type="text/javascript ">
            jQuery(document).ready(function() {
                jQuery("#mainmenu-area ").sticky({
                    topSpacing: 0
                });
            });
        </script>
        <script type="text/javascript " src="./coming/kingcomposer.min.js.download "></script>
        <script type="text/javascript " src="./coming/waypoints.min.js.download "></script>
        <script type="text/javascript " src="./coming/counter.up.min.js.download "></script>
        <script type="text/javascript " src="./coming/wp-embed.min.js.download "></script>
        <script type="text/javascript " src="./coming/jquery-modal-video.min.js.download "></script>



</body><span class="gr__tooltip "><span class="gr__tooltip-content "></span><i class="gr__tooltip-logo "></i><span class="gr__triangle "></span></span>

</html>